dist: trusty
sudo: required
language: julia
os:
  - linux
julia:
  - 0.5

env:
  matrix:
    include:
    - os: linux
      dist: trusty
      sudo: false
      python: '3.4'

before_install:
  - sudo git clone https://github.com/weecology/retriever.git
  - sudo pip install git+https://github.com/weecology/retriever.git
  - sudo pip install -e retriever

#
#script:
# - julia -e 'Pkg.clone(pwd()); Pkg.build("Retriever"); Pkg.test("Retriever"; coverage=true)'
#
#after_success:
#  # push coverage results to Coveralls
#  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
#  # push coverage results to Codecov
#  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
#

notifications:
  email: false
