dist: trusty
sudo: required
language: julia
os:
  - linux
julia:
  - 0.5

env:
  matrix:
    - PYTHON=python3 # python 3.5

before_install:
  - sudo pip install --upgrade pip
  - sudo git clone https://github.com/weecology/retriever.git
  - sudo pip install git+https://github.com/weecology/retriever.git
  - sudo pip install -e retriever
  - sudo rm -rf retriever
#  - test "x$TRAVIS_OS_NAME" = xosx -o "x$PYTHON" = xConda-python || (sudo apt-get -qq update && sudo apt-get install -y $PYTHON)
  - julia -e 'Pkg.add("PyCall"); Pkg.build("PyCall");'

script:
 - julia -e 'Pkg.clone(pwd()); Pkg.build("Retriever"); Pkg.test("Retriever"; coverage=true)'

after_success:
  # push coverage results to Coveralls
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Retriever")); include(joinpath("docs", "make.jl"))'
  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'

notifications:
  email: false
